<h1>Bienvenidos y bienvenidas a nuestra tienda</h1>

<h3>Si no eres cliente puedes registrarte</h3>
<a href="/register"><button
    class="btn btn-outline-success w-25"
  >Registrarse</button></a>

<h3>Si eres cliente puedes iniciar sesión</h3>
<a href="/login"><button class="btn btn-outline-success w-25">Iniciar sesión</button></a>