<h1>Ingresa</h1>

<form id="loginForm">
  <label>Email</label>
  <input name="email" />
  <br />
  <label>Contraseña</label>
  <input name="password" />
  <br />
  <input type="submit" />
</form>

<script src="/js/login.js"></script>