<h1>Regístrate</h1>

<form id="registerForm">
  <label>Nombre</label>
  <input name="firstName" />
  <br />
  <label>Apellido</label>
  <input name="lastName" />
  <br />
  <label>Email</label>
  <input name="email" />
  <br />
  <label>Contraseña</label>
  <input name="password" />
  <br />
  <input type="submit" />
</form>

<script src="/js/register.js"></script>